<launch>
        <param name="robot_description" command="cat $(find xsens_data_tf)/src/arm_test.xml" />
        <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
        <node name="xsens_data_publisher_tf" pkg="xsens_data_tf" type="xsens_data_tf_broadcaster" />
</launch>
